* {
  box-sizing: border-box;
}

fieldset {
  border: none;
}

label {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

input[type~='text'],
div.inputs {
  display: inline-block;
  width: 80%;
}
